@charset "UTF-8";
:root {
  --text-color: #757575;
  --text-title-color: #212121;
  --footer-nav-color: rgba(255, 255, 255, 0.6);
  --heder-logo-s-color: #000000;
  --text-color-white: #ffffff;
  --accent-background-color-button: #188ce8;
  --accent-text-color: #2196f3;
  --margin-left-section-main: 30px;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 250ms;
}

body {
  margin: 0;
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto;
  font-weight: normal;
  font-style: sans-serif;
}

.display {
  display: flex;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1.5px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-text-color);
  border-radius: 2px;
}

.accent-color:hover, .accent-color:focus {
  color: var(--accent-text-color);
  cursor: pointer;
}

.visually-hidden {
  display: none;
}

.visually-hidden-check {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

p,
h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  align-items: center;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .section {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}

.button {
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--text-color-white);
  background-color: var(--accent-text-color);
}

.accent-button:hover, .accent-button:focus {
  background-color: var(--accent-background-color-button);
  color: var(--text-color-white);
  cursor: pointer;
}

.portfolio-button {
  display: inline-block;
  padding: 6px 22px;
  margin-right: 8px;
  margin-bottom: 50px;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--text-title-color);
  background: #f5f4fa;
}

.btn-first {
  color: var(--text-color-white);
  background-color: var(--accent-text-color);
}

.main-filters {
  display: flex;
}

.filters-ul {
  display: flex;
  justify-content: center;
}

.secondary-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  color: var(--text-title-color);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

@media screen and (max-width: 1199px) {
  .secondary-title {
    font-size: 28px;
    line-height: 1.18;
    margin-bottom: 30px;
  }
}

.target-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (max-width: 480px) {
  .target-title {
    text-align: center;
  }
}

.pre-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.pre-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
}

.folder-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--margin-left-section-main));
}

.folder-list > .feature-link {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: var(--margin-left-section-main);
}

.social-set {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.social-cart--right-indent {
  margin-right: 10px;
}

.social-cart__link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  fill: #afb1b8;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-duration) var(--timing-function);
}

.social-cart__link:hover, .social-cart__link:focus {
  background-color: var(--accent-text-color);
  cursor: pointer;
}

.social-cart__icon {
  transition: fill var(--transition-duration) var(--timing-function);
}

.social-cart__link:hover .social-cart__icon,
.social-cart__link:focus .social-cart__icon {
  fill: var(--text-color-white);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transform: scale(1);
  transition: opacity transform;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  transform: scale(0);
  pointer-events: none;
  visibility: visible;
}

.modal-window {
  position: absolute;
  width: 528px;
  min-height: 521px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-top: 221px;
}

@media screen and (max-width: 480px) {
  .modal-window {
    width: 100vw;
    height: 100vh;
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .modal-window {
    margin-top: 208px;
  }
}

.modal-window__close-btn {
  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-window__close-icon {
  display: flex;
  fill: #000000;
  transition: fill var(--transition-duration) var(--timing-function);
}

.modal-window__close-btn:hover .modal-window__close-icon,
.modal-window__close-btn:focus .modal-window__close-icon {
  fill: var(--accent-text-color);
  cursor: pointer;
}

.modal-window__title {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  padding-top: 40px;
  margin-bottom: 12px;
  color: #212121;
}

.modal-window__group {
  display: block;
  width: 448px;
  min-height: 342px;
  margin-left: 40px;
  margin-right: 40px;
}

@media screen and (max-width: 480px) {
  .modal-window__group {
    width: 100vw;
    height: 100vh;
  }
}

.modal-window__folder--form {
  margin-bottom: 10px;
}

.modal-window__lable {
  display: block;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: #757575;
}

.modal-window__input-wrap {
  display: block;
  position: relative;
}

.modal-window__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 30px;
  transition: border var(--transition-duration) var(--timing-function);
}

.modal-window__input:hover, .modal-window__input:focus {
  border: 1px solid #2196f3;
  box-sizing: border-box;
  border-radius: 4px;
  outline: var(--accent-text-color);
  cursor: pointer;
}

.modal-window__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--transition-duration) var(--timing-function);
}

.modal-window__icon:hover, .modal-window__icon:focus {
  fill: var(--accent-text-color);
}

.modal-window__input:hover + .modal-window__icon,
.modal-window__input:focus + .modal-window__icon {
  fill: var(--accent-text-color);
  cursor: pointer;
}

.modal-window__commet-wrap {
  display: block;
  width: 448px;
  height: 120px;
  margin-bottom: 17px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
}

.modal-window__commet-wrap:hover, .modal-window__commet-wrap:focus {
  border: 1px solid #2196f3;
  box-sizing: border-box;
  border-radius: 4px;
  outline: var(--accent-text-color);
  cursor: pointer;
}

.modal-window__modal-comment {
  width: 416px;
  height: 96px;
  margin: 12px 16px;
  resize: none;
  border: none;
  outline: none;
}

.modal-window__modal-comment::placeholder {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-window__checkbox:checked + .modal-window__check-label > .modal-window__check {
  background: var(--accent-text-color);
  border: none;
}

.modal-window__check-label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal-window__check {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-window__check-text {
  display: block;
  margin-left: 3px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
}

.button__btn-modal {
  display: block;
  margin: 30px auto 40px auto;
  width: 200px;
  height: 50px;
}

.header {
  display: flex;
  border-bottom: 1px solid #ececec;
}

.container {
  justify-content: space-between;
}

.site-pages {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 480px) {
  .site-pages {
    display: block;
    position: relative;
  }
}

.site-pages__logo {
  display: inline-block;
  margin: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  color: var(--heder-logo-s-color);
  transition: color var(--transition-duration) var(--timing-function);
}

@media screen and (min-width: 768px) {
  .site-pages__logo {
    margin-right: 88px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .site-pages__logo {
    margin-right: 93px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.site-pages__logoweb {
  color: var(--accent-text-color);
}

.site-nav {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
}

.site-nav__link {
  display: inline-block;
  margin-right: 50px;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  color: var(--text-title-color);
  position: relative;
  transition: background-color var(--transition-duration) var(--timing-function);
}

.site-contakt {
  display: flex;
  margin-left: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .site-contakt {
    display: block;
    align-items: baseline;
    justify-content: flex-start;
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media screen and (max-width: 767px) {
  .site-contakt {
    display: none;
  }
}

.site-contakt__nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-contakt__nav:hover, .site-contakt__nav:focus {
  fill: var(--accent-text-color);
  cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .site-contakt__nav {
    margin-right: 8px;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .site-contakt__nav--sc-indent {
    margin-bottom: 10px;
  }
}

.site-contakt__icon {
  margin-right: 10px;
  transition: fill var(--transition-duration) var(--timing-function);
}

.site-contakt__nav:hover .site-contakt__icon,
.site-contakt__nav:focus .site-contakt__icon {
  fill: var(--accent-text-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .site-contakt__icon {
    margin-right: 8px;
  }
}

.site-contakt--right-indent {
  margin-right: 50px;
}

.site-contakt__link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #757575;
  transition: color var(--transition-duration) var(--timing-function);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .site-contakt__link {
    padding: 0;
    margin: 0;
    align-items: baseline;
    justify-content: flex-start;
  }
}

/*--Мобильное меню---*/
.menu-button {
  display: flex;
  min-width: 40px;
  min-height: 40px;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  outline: none;
}

.menu-button:hover, .menu-button:focus {
  fill: var(--accent-text-color);
  cursor: pointer;
}

@media screen and (min-width: 481px) {
  .menu-button {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background: #ffffff;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-button {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #fff;
}

.mobile-menu {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu__link {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
  text-decoration: none;
}

.mb {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
}

.mbe {
  padding-top: 302px;
  font-size: 34px;
  line-height: 1.17;
  color: #2196f3;
}

.mbt {
  margin-bottom: 64px;
  font-size: 24px;
  line-height: 1.17;
  color: #757575;
}

.mobile-menu-social-set {
  display: flex;
}

.mobile-menu-social-set__link {
  font-size: 18px;
  line-height: 1.22;
  color: #2196f3;
  margin-right: 20px;
}

.mobile-menu-social-set__link--indent {
  margin-right: 0;
}

.footer {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  background: #2f303a;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .footer-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 481px) and (max-width: 1199px) {
  .footer-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.site-footer {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
}

.site-footer__logo {
  display: flex;
  color: var(--text-color-white);
  margin-bottom: 20px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .site-footer {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 481px) and (max-width: 1199px) {
  .site-footer {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    margin-left: 91px;
  }
}

.footer-contact {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .footer-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 481px) and (max-width: 1199px) {
  .footer-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
  }
}

.footer-contact__link {
  display: flex;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 9px;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition-duration) var(--timing-function);
}

.footer-contact__link--color {
  color: var(--text-color-white);
}

.footer-contact__link--ident {
  margin-bottom: 0;
}

.footer-social {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  padding-top: 72px;
  padding-bottom: 100px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .footer-social {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 481px) and (max-width: 1199px) {
  .footer-social {
    margin: 0;
    padding: 0;
    margin-right: 74px;
    justify-content: center;
    align-items: center;
    margin-bottom: 102px;
  }
}

.social-set--bottom-ident {
  margin-bottom: 0;
}

.footer-social__title {
  color: var(--text-color-white);
  margin-bottom: 20px;
  text-align: left;
}

.footer-form {
  display: flex;
  flex-direction: column;
  margin-left: 93px;
  padding-top: 72px;
  padding-bottom: 94px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .footer-form {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 481px) and (max-width: 1199px) {
  .footer-form {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.footer-form__title {
  color: var(--text-color-white);
  margin-bottom: 20px;
}

.footer-form__send {
  display: flex;
  justify-content: start;
}

.footer-form__mail {
  display: flex;
  position: relative;
}

.footer-form__mail input {
  margin-right: 12px;
  padding: 0;
  width: 358px;
  height: 50px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .footer-form__mail input {
    margin: 0;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 481px) and (max-width: 1199px) {
  .footer-form__mail input {
    margin: 0;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
  }
}

.footer-form__input {
  background-color: transparent;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-form__input:hover, .footer-form__input:focus {
  border-color: var(--accent-text-color);
  cursor: pointer;
}

.footer-form__label {
  position: absolute;
  top: 15px;
  left: 16px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__button {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-form__icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 6px;
}

.footer-form__icon {
  fill: var(--text-color-white);
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .footer-form__send {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.main-header__box {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/heading/developed.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 1200px) {
  .main-header__box {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.main-header__title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-color-white);
}

@media screen and (min-width: 1200px) {
  .main-header__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.feature-link__folder {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
}

@media screen and (max-width: 480px) {
  .feature-link__folder {
    width: 450px;
  }
}

@media screen and (min-width: 481px) and (max-width: 1199px) {
  .feature-link__folder {
    width: 354px;
  }
}

.feature-link__title {
  color: var(--text-title-color);
  margin-bottom: 10px;
}

.feature-link__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 480px) {
  .feature-link__text {
    margin-bottom: 30px;
  }
}

.directions {
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .directions {
    display: none;
  }
}

.directions-link {
  position: relative;
  display: flex;
}

.folder-list > .directions-link {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: var(--margin-left-section-main);
}

.position {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

.team {
  background: #f5f4fa;
  border-radius: 4px;
  margin-right: auto;
  margin-left: auto;
}

.team-set {
  background-color: var(--text-color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.folder-list > .team-set {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: var(--margin-left-section-main);
}

@media screen and (max-width: 480px) {
  .team-set {
    width: 450px;
  }
}

@media screen and (min-width: 481px) and (max-width: 1199px) {
  .team-set {
    width: 354px;
  }
}

@media screen and (max-width: 480px) {
  .team-set:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 481px) and (max-width: 1199px) {
  .team-set:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

.team-set__img--bottom-indent {
  margin-bottom: 30px;
}

.team-set__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 10px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (max-width: 480px) {
  .team-set__title {
    width: 450px;
  }
}

@media screen and (min-width: 481px) and (max-width: 1199px) {
  .team-set__title {
    width: 354px;
  }
}

.team-set__text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}

.client-list {
  display: flex;
}

.client-list__link {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  margin-right: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition: background-color var(--transition-duration) var(--timing-function);
}

.client-list__link:hover, .client-list__link:focus {
  border-color: var(--accent-text-color);
  cursor: pointer;
}

.client-list__icon {
  fill: #afb1b8;
  transition: fill var(--transition-duration) var(--timing-function);
}

.client-list__link:hover .client-list__icon,
.client-list__link:focus .client-list__icon {
  fill: var(--accent-text-color);
}

@media screen and (max-width: 480px) {
  .client-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }
  .client-list__link {
    width: 210px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 481px) and (max-width: 1199px) {
  .client-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }
  .client-list__link {
    width: 226px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

.main-projects-ul {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--margin-left-section-main));
}

.main-projects-ul > .main-projects-li {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: var(--margin-left-section-main);
}

.tumba:hover, .tumba:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.projects-border {
  border: 1px solid #eeeeee;
  margin-bottom: 20px;
}

.main-project-ul-title {
  margin: 20px 24px 4px 24px;
  text-align: left;
  font-size: 18px;
  line-height: 2;
}

.main-project-text {
  margin: 0px 24px 20px 24px;
  text-align: left;
  font-size: 16px;
  line-height: 1.87;
}

.projects-overlay {
  position: relative;
  overflow: hidden;
}

.projects-overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 63px 24px;
  overflow: auto;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  background: rgba(33, 150, 243, 0.9);
  color: var(--text-color-white);
  transform: translateY(100%);
  transition: transform var(--transition-duration) var(--timing-function);
}

.tumba:hover .projects-overlay-text,
.tumba:focus .projects-overlay-text {
  transform: translateY(0%);
}
/*# sourceMappingURL=main.css.map */