.client-list {
  display: flex;
  &__link {
    display: flex;
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    margin-right: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    transition: background-color var(--transition-duration)
      var(--timing-function);
    &:hover,
    &:focus {
      border-color: var(--accent-text-color);
      cursor: pointer;
    }
  }
  &__icon {
    fill: #afb1b8;
    transition: fill var(--transition-duration) var(--timing-function);
    .client-list__link:hover &,
    .client-list__link:focus & {
      fill: var(--accent-text-color);
    }
  }
}
