.header {
  display: flex;
  border-bottom: 1px solid #ececec;
}

.site-pages {
  display: flex;
  align-items: center;
}

.site-pages__logo {
  display: inline-block;
  margin-right: 93px;
  padding-top: 25px;
  padding-bottom: 25px;

  color: var(--heder-logo-s-color);
  transition: color var(--transition-duration) var(--timing-function);
}

.site-pages__logoweb {
  color: var(--accent-text-color);
}

.site-nav {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav__link {
  display: inline-block;
  margin-right: 50px;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  color: var(--text-title-color);

  position: relative;
  transition: background-color var(--transition-duration) var(--timing-function);
}

.site-contakt {
  display: flex;
  margin-left: auto;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-contakt__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover,
  &:focus {
    fill: var(--accent-text-color);
    cursor: pointer;
  }
}

.site-contakt__icon {
  margin-right: 10px;
  transition: fill var(--transition-duration) var(--timing-function);
  .site-contakt__nav:hover &,
  .site-contakt__nav:focus & {
    fill: var(--accent-text-color);
  }
}

.site-contakt--right-indent {
  margin-right: 50px;
}
.site-contakt__link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;

  color: #757575;
  transition: color var(--transition-duration) var(--timing-function);
}
