:root {
  --text-color: #757575;
  --text-title-color: #212121;
  --footer-nav-color: rgba(255, 255, 255, 0.6);
  --heder-logo-s-color: #000000;
  --text-color-white: #ffffff;
  --accent-background-color-button: #188ce8;
  --accent-text-color: #2196f3;
  --margin-left-section-main: 30px;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 250ms;
}
